body {
	background-color: #F6F6F6;
}

.cls-main-container {
	margin-top: 53px;
}

.cls-toolbar {
	padding: 5px 0px;
}

.cls-toolbar-gray {
	background-color: #EEEEEE;
	padding: 5px 0px;
}

textarea {
	resize: none;
}

h3.cls-title {
	color: #5D88C3;
	margin: 10px 0px;
	padding-bottom: 5px;
	border-bottom: 1px solid #5D88C3;
	font-size: 24px;
}

table.cls-table thead tr {
	background-color: #CCCCCC;
}

table.cls-table tbody td {
	line-height: 24px;
}

table.cls-table tbody tr:hover {
	background-color: #DDE4FF;
}

table.cls-table tr td .cls-actions {
	display: none;
}

table.cls-table tr:hover td .cls-actions {
	padding: 0px;
	display: block;
}

table td .cls-small {
	font-size: 12px;
	line-height: 16px;
	color: #666;
}

nav.cls-pagination {
	text-align: right;
}

ul.pagination {
	cursor: pointer;
	margin: 5px 0px;
}